 body {
            font-family: Arial, sans-serif;
            margin: 0;
        }

    
        nav {
            background-color: #15D300; 
            overflow: hidden;
            display: flex;
            justify-content: space-between; 
            align-items: center; 
            padding: 0 20px; 
            position: relative; 
        }

        
        nav ul {
            list-style-type: none; 
            margin: 0;
            padding: 0;
            display: flex; 
        }

         
        nav a {
            display: block; 
            color: white; 
            text-align: center;
            padding: 20px 18px; 
            text-decoration: none; 
            text-shadow: 1px 1px 2px black;
        }

        
        nav a:hover {
            background-color: #14c500; 
        }

        
        .nav-title {
            font-size: 24px;
            font-weight: bold;
            color: white;
            text-decoration: none;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            text-shadow: 1px 1px 2px black;;
        }

        
        .logo-img {
            height: 75px; 
            width: auto;
        }

        .main-banner {
            width: 100%;
            height: auto; 
            display: block;
            
        }
      
        .banners-container {
            display: flex;
            justify-content: space-between;
            flex-direction: column; 
            align-items: start; 
            padding: 20px 0 20px 40px;
            margin: 20px 0;
        }

        .banner-item {
            display: flex; 
            align-items: center; 
            margin: 20px 0;
        }

        .banner-img {
            width: 200px;
            height: auto; 
            border-radius: 8%;
        }

        .banner-text {
            margin-left: 20px; 
            color: #333;
            font-size: 16px;
            max-width: 400px; 
        }
        
         .projetos_futuros {
            background-color: #1c1c1c;
            color: white;
            padding: 40px 20px;
            text-align: center;
        }

        .projetos_futuros-heading {
            margin: 0;
            margin-bottom: 30px;
            color: #15D300;
        }

        .projetos_futuros-container {
            max-width: 800px;
            margin: 0 auto;
            text-align: left;
        }

        .projeto-item {
            margin-bottom: 25px;
        }

        .projeto-subtitulo {
            color: #15D300;
            font-size: 22px;
            margin-bottom: 10px;
        }
         
        .footer{
            background-color:#14c500 ;
            color: #d3d3d3;
            padding: 60px 0;
            margin: 0;
         }
         
        .footer_columns {
         display: flex;
         justify-content: flex-start;
         gap: 120px;
         padding: 0 80px;
         }
        .footer_column {
         display: flex;
         flex-direction: column;
         }
        .footer_logo {
         height: 108px;
         left: 0px;
         }
       .footer_copyright {
         text-align: flex-start;
         margin: 60px 0 0;
         padding-left: 95px;
         }
        .footer_column_content_hours {
         margin-left: auto;
         margin-right: 20px;
         }

        .footer_column_content_social {
         align-items: flex-start;
         }

        .footer_column-heading {
         font-weight: bold;
         font-size: 18px;
         line-height: 30px;
         margin: 0;
         }
        .footer_list {
         list-style-type: none;
         padding: 0;
         margin: 20px 0 0;
         }

        .footer_list-item {
         margin-bottom: 16px;
         display: flex;
         align-items: center;
         }
        .footer_column-link {
         text-decoration: none;
         color: #d3d3d3;
         display: flex;
         align-items: center;
         }
        .footer_social-icon {
          width: 16px;
         height: 16px;
         margin-right: 10px;
         }


        
        @media (max-width: 820px) {

            .nav-title {
                position: static;
                transform: none;
                padding: 10px 0;
            }

            nav {
                flex-direction: column;
            }


            .banners-container {
                padding: 20px;
                align-items: center;
            }

            .banner-item {
                flex-direction: column; 
                text-align: center;
            }

            .banner-text {
                margin-left: 0;
                margin-top: 15px; 
            }

            .footer_columns {
                flex-direction: column; 
                gap: 40px;
                padding: 0 40px;
                align-items: center;
                text-align: center;
            }

            .footer_copyright {
                padding-left: 0;
                margin-top: 40px;
                text-align: center;
            }

            .footer_column_content_hours {
                margin-left: 0;
                margin-right: 0;
            }

            .footer_column.footer_column_content_social {
                align-items: center;
            }
        }

        
        @media (max-width: 480px) {
            nav {
                padding: 0 10px;
            }

            nav ul {
                flex-direction: column; 
            }

            nav a {
                padding: 10px 18px; 
            }
        }


    